body {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  margin: 0 auto;
  width: 640px;
}

header {
  align-items: center;
  padding-top: 0.25rem;
}

h1 {
  font-size: 1.802em;
  font-weight: bold;
  margin: 0.5rem 1rem 0.5rem 0;
}

input {
  border: solid thin black;
  margin-bottom: 0.5rem;
  padding: 3px;
}

form {
  border-bottom: solid thin black;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

input,
button {
  border-radius: 3px;
}

button[type="submit"] {
  background-color: green;
  color: white;
}

button {
  padding: 0.5rem;
  text-transform: uppercase;
}

#filter-min-salary {
  background-color: orange;
  border-radius: 50%;
  height: 44px;
  text-transform: capitalize;
  width: 44px;
}

#min-salary-container * {
  margin: 0.25rem;
}

.flex {
  display: flex;
}

.flex--justify-content-space-between {
  justify-content: space-between;
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/* Table */
table {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 100%;
}

th,
td {
  padding: 0 0.25rem;
  width: 25%;
}

th {
  font-size: 1.125em;
  font-weight: bold;
  text-align: left;
}

th:last-child {
  text-align: right;
}

tr {
  border-bottom: solid thin black;
  padding: 0.25rem 0;
}

td:last-child {
  justify-content: flex-end;
}

td:not(#table-loader) {
  align-items: center;
  display: inline-flex;
  word-wrap: break-word;
}

.error {
  font-size: 3.6em;
  text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp 🙄 */
.loader {
  animation: spin 2s linear infinite;
  border: 0.5rem solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  border-top: 0.5rem solid #3498db; /* Blue */
  height: 1rem;
  width: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* table-loader - Customized from: https://projects.lukehaas.me/css-table-loaders/ */
.table-loader,
.table-loader::before,
.table-loader::after {
  animation: load1 1s infinite ease-in-out;
  background: orangered;
  height: 4rem;
  width: 1rem;
}

.table-loader {
  animation-delay: -0.16s;
  color: orangered;
  font-size: 1.1em;
  margin: 8.8rem auto;
  position: relative;
  text-indent: -9999rem;
  transform: translateZ(0);
}

.table-loader::before,
.table-loader::after {
  content: "";
  position: absolute;
  top: 0;
}

.table-loader::before {
  animation-delay: -0.32s;
  left: -1.5rem;
}

.table-loader::after {
  left: 1.5rem;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4rem;
  }

  40% {
    box-shadow: 0 -2rem;
    height: 5rem;
  }
}
